body {
	padding-top: 70px;
}
.container {
	max-width: 960px;
	padding: 30px;
	border-radius: 10px;
	border: 5px solid black;
	margin: auto;
}
.jumbotron {
	height: 300px;
}
.uu {
	height: 230px;
	width: 150px;
	position: relative;
	top: -165px;
	left: 85%;
}
hr {
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.header-section {
	padding: 0;
	text-align: center;
}
.intraheader-section {
	border-width: 5px;
	border-bottom: dashed;
	border-color: #777;
	padding: 0;
	text-align: center;
}
ul {
	list-style: none;
}
.progress-text-danger {
	color: white;
	/*font-weight: bold;*/
}
.progress-text-success {
	color: black;
	font-weight: bold;
}
footer {
	text-align: center;
	color: white;
	background-color: black;
}
.resources {
	text-align: center;
}